<h1>Good food hunting</h1>
<a href="/dishes/new"> post new dish</a>
<div class="container">
  <% dishes.each do |dish| %>
    <a href="/dishes/<%= dish["id"] %>">
      <%= dish["name"] %>
    </a>
    <img src="<%= dish["image_url"] %>">
  <% end %>
</div>
